.header {
    position: absolute;
    width: 1591px;
    height: 900px;
    left: calc(50% - 1591px / 2 + 5px);
    top: 16px;
}
.header {
    background-image: url("../images/image1.png");
    position: absolute;
    width: 1600px;
    height: 900px;
    left: 0;
    top: 0;
}
.header_title {
    position: absolute;
    width: 205px;
    height: 54px;
    left: 215px;
    top: 512px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;

    color: #FFFFFF
}
.header_subtitle {
    position: absolute;
    width: 317px;
    height: 16px;
    left: 215px;
    top: 582px;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: flex-end;

    color: #FFFFFF;
}
.header_we {
    position: absolute;
    width: 100px;
    height: 55px;
    left: 247px;
    top: 658px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 54px;
    line-height: 66px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    border-right: 1px solid #f48E0B;


    color: #F48E0B;

    }
.orli {
    position: absolute;
    width: 133px;
    height: 4px;
    left: 374px;
    top: 619px;

    background: #F48E0B;
    border: 1px solid #000000;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(89.55deg);
    display: flex;
}
.header_text {
    position: absolute;
    width: 619px;
    height: 55px;
    left: 399px;
    top: 658px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    outline-style: initial;
    text-shadow: 0 4px 4px;
rgba(0, 0, 0, 1);
    line-height: 66px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;


}

.bgfortext {
    background: url("../images/image2.png");
    border: 1px solid #000000;
    box-sizing: border-box;
    display-inside: ruby-text;

    position: absolute;
    width: 833px;
    height: 131px;
    left: 216px;
    top: 620px;


}
